body {
  background-color: #dbe0e0;
}
.hr-style {
  border-top: 2px solid black;
}

.search-box {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.search-input {
  border: 1px solid gray;
  margin: auto;
  width: 400px;
}
.search-input:focus {
  outline: none !important;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
}

.item-section {
  width: 80%;
  margin: 0 auto;
}

.errorcheaker {
  background-color: #eeeeee;
  color: rgb(226, 115, 115);
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 5rem;
  border-radius: 50px;
}
